<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" >
  <link rel="icon" type="image/png" th:href="@{/icon.png}">
  <link rel="stylesheet" th:href="@{/css/signupStyle.css}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Book Passes</title>
</head>
<body>
<div class="container">
  <form action="#" th:action="@{/user/booked(rid=${restaurant.id},uid=${user.id})}" method="post">
    <h2>Book Passes</h2>
    <div class="form-group">
      <input type="number" class="form-control" name="numberOfPasses" placeholder="Number of Passes" required="required">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block">Book</button>
    </div>
  </form>
</div>
</body>
</html>
